@media only screen and (min-width: 768px) {
    #et-info {
        float:right !important
    }
}

@media only screen and (max-width: 767px) {
    div#et-secondary-menu {
        display:block !important;
        margin-top: 0 !important;
        padding-top: .75em
    }

    #et-secondary-menu>div.et_duplicate_social_icons>ul>li a {
        display: block;
        padding-bottom: .75em
    }
}

@media only screen and (min-width: 768px) and (max-width:980px) {
    div#et-secondary-menu {
        display:block !important;
        padding-top: .75em
    }
}

@media only screen and (min-width: 981px) {
    #et-info #et-social-icons,#et-info .et-social-icons {
        display:none
    }
}

#et-info-phone:hover {
    opacity: 0.7;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

#footer-info {
    width: 100%;
    margin: 0 auto;
    text-align: center !important
}

@media only screen and (min-width: 980px) {
    #footer-bottom .et-social-icons {
        margin-bottom:-28px
    }
}
